 * {
     margin: 0;
     padding: 0;
 }

 article {
     border: 1px solid red;
     margin: 10px;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
 }

 aside {
     border: 1px solid blue;
 }

 #menu {
     border: 1px solid black;
     width: 100%;
 }

 #menu ul {
     display: flex;
     list-style: none;
 }

 #menu li {
     margin: 10px;
     list-style-type: none;
 }

 #container {
     border: 1px solid green;
     width: 100%;
 }

 .conteudo {
     border: 1px solid blue;
     width: 100%;
     display: flex;
     flex-wrap: wrap;
     height: 200px;
     justify-content: space-around;
     align-items: center;


 }

 .conteudo div {
     width: 150px;
     min-width: 50px;
     height: 50px;
     transition: 2s;

 }

 .div1 {
     background-color: blue;
 }

 .div2 {
     background-color: red;
 }

 footer {
     background-color: #000000 !important;
     height: 50px;
     color: #fff;
 }

 footer {
     background-color: red;
 }

 @media (max-width: 400px) {
     .conteudo {
         flex-direction: column;
     }

     .conteudo div {
         width: 100%;
         transition: 2s;
         height: 100px;
     }
 }

 @keyframes animacao {
     0% {
         transform: rotate(0deg);
     }

     50% {
         transform: rotate(90deg);
     }

     100% {
         transform: rotate(180deg);
     }
 }